
.ListItem{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(86, 39, 7);
    background-color: blanchedalmond;
    padding: 3px;
}
.ListItem span.Text{
    font-size: 30px;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}